* {
  box-sizing: border-box;
  padding: 0px;
}
body {
  background-color: hsl(30, 38%, 92%);
}
.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-section {
    margin: auto;
  max-width: 60%;
  background-color: rgb(126, 102, 102);
  border-radius: 10px;
  /* width: 50vw; */
}
.div-img {
  width: 50%;
  object-fit: cover;
  object-position: bottom;
  margin-bottom: 0;
}
/* para lograr que la imagen no salgadel contenedor */
img {
  object-fit: cover;
  max-inline-size: 100%;
  border-radius: 10px 0 0 10px;
  margin-bottom: -4px;
}
.div-text {
  justify-content: center;
  align-items: center;
  width: 50%;
  max-inline-size: 100%;
}
strong {
  color: hsl(158, 36%, 37%);
}
.btn {
  background-color: hsl(158, 36%, 37%);
  width: 150px;
  height: 60px;
  border-radius: 10px;
}

@media only screen and (max-width: 650px) {
  .product-card {
    display: flex;
    flex-direction: column;
  }
  .div-img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 0;
  }
  img {
    max-inline-size: 100%;
    border-radius: 10px 10px 0 0;
  }
}
